extends layout

block content  
    .uk-section
        .uk-container
            ul.uk-breadcrumb  
                li: a(href="/") Home
                li: a(href="/blog/collections") Blog
                li= articleTitle
            .uk-article 
                h1.uk-article-title= articleTitle 
                img.uk-margin-medium-bottom(src=`http://72.141.30.148${articleImage.url}` alt=`${articleHeroAltText}` )
                .uk-article-meta
                    img.uk-border-circle(width="60" height="60"  src=`http://72.141.30.148${author.authorImage.url}` )
                    p= `Written By ${author.authorName} on ${Date.substr(0,10)}` 
                    meta(name="description" content=`${metaDescription}`)
                    meta(name="keywords" content=`${metaKeywords}`)
                p#content(style="white-space:pre-wrap")= articleContents

block scripts
    script(src="https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js")
    script. 
        var conv = new showdown.Converter();
        var txt = document.getElementById('content').innerHTML;
        document.getElementById('content').innerHTML = conv.makeHtml(txt);