extends layout

mixin art(img,title,desc,authImg,auth,date,url)
    .card.mb-3
      .row.no-gitters
          .col-md-4
              a(href=`blog/${url}`)
                  img(class="card-image" id="articleImage" src=`http://localhost:1337${img}` alt = articleHeroAltText)
          .col-md-8
            .card-body
              a(href=`blog/${url}`)
                  h3= title 
              p.giveMeEllipsis= desc
              .col-md
                  h6= auth
                  img(class="im-fluid" id="author" src=`http://localhost:1337${authImg}` )
                  p= date

block content
  .wrapper 
    .page-header.clear-filter(filter-color="green")
      .page-header-image(style="background-image: url(/images/cold-conifer-dawn-917494.jpg);" data-parallax="true")
        .row
        #hero.container.container-fluid
            .col-mb
              h1(class="display-4") A blog about mental health and other things 
              p(class="lead") This is a really helpful description that we are going to figure out later but keep it here for now for design purpoese!
              a(class="btn btn-primary btn-lg"  href="/blog") Read some Articles
    section.firstSection
      .container  
        .row 
          h2 Featured Articles

            
