extends layout

mixin art(img,title,desc,authImg,auth,date,url)
  .uk-flex.uk-flex-wrap
    .uk-card.uk-card-default(uk-scrollspy="cls: uk-animation-slide-bottom")
      .uk-card-media-top
        a(href=`blog/${url}`)
          img( src=`https://radiant-atoll-86561.herokuapp.com${img}` alt = articleHeroAltText)
      .uk-card-body
        .uk-card-badge.uk-label Featured
        a(href=`blog/${url}`)
          h3.uk-card-title.uk-button.uk-button-text= title 
        p.uk-description-list.uk-text-small= desc
        a.uk-button.uk-button-text(href=`blog/${url}`) Read More
      .uk-card-footer
        .uk-column-1-3
          img.uk-border-circle(width="40" height="40"  src=`https://radiant-atoll-86561.herokuapp.com${authImg}` )
          h6= auth
          p= date.substr(0,10)

block content
  .uk-background-cover.uk-height-viewport.uk-panel.uk-flex.uk-flex-center.uk-flex-middle(uk-parallax="bgy: -100" style="background-image: url(/images/cold-conifer-dawn-917494.jpg);")
    #heroText.uk-column-1.uk-position-left.spaced(uk-parallax="y: 250; easing: -2")
      h1() Mental Health Conscious Mom`s 
      p(class="lead") A blog about mental health and other things
      a(class="btn btn-primary btn-lg"  href="/blog/collections") Read some Articles
  .uk-section.firstSection
    .uk-container  
      .row
        h2 Featured Articles
        div(class="uk-child-width-1-2@s" uk-grid="masonry: true")
          each art in articles
            +art(art.articleHero.url, art.articleTitle, art.articleDescription, art.author.authorImage.url, art.author.authorName, art.Date, art.url)

            
            
