extends layout

mixin art(img,title,desc,authImg,auth,date,url)
  .uk-grid
    div(class="uk-child-width-1@m")
      .uk-card.uk-card-default(uk-scrollspy="cls: uk-animation-slide-bottom")
        .uk-card-media-top
          a(href=`blog/${url}`)
            img( src=`http://localhost:1337${img}` alt = articleHeroAltText)
        .uk-card-body
          .uk-card-badge.uk-label Featured
          a(href=`blog/${url}`)
            h3.uk-card-title.uk-button.uk-button-text= title 
          p.uk-description-list.uk-text-small= desc
          a.uk-button.uk-button-text(href=`blog/${url}`) Read More
        .uk-card-footer
          .uk-column-1-3
            img.uk-border-circle(width="40" height="40"  src=`http://localhost:1337${authImg}` )
            h6= auth
            p= date.substr(0,10)

block content
  .uk-background-cover.uk-height-viewport.uk-panel.uk-flex.uk-flex-center.uk-flex-middle(uk-parallax="bgy: -100" style="background-image: url(/images/cold-conifer-dawn-917494.jpg);")
    .col-mb.uk-position-left.spaced(uk-parallax="y: 300; easing: -2")
      h1(class="display-4") A blog about mental health and other things 
      p(class="lead") This is a really helpful description that we are going to figure out later but keep it here for now for design purpoese!
      a(class="btn btn-primary btn-lg"  href="/blog") Read some Articles
  .uk-section.firstSection
    .uk-container  
      .row
        h2 Featured Articles
        .uk-column-1-2
          each art in articles
            +art(art.articleHero.url, art.articleTitle, art.articleDescription, art.author.authorImage.url, art.author.authorName, art.Date, art.url)

            
            
